@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1d1f20;
}
.container .text {
  position: relative;
  color: #0ea5e9;
  font-size: 50px;
  font-weight: 600;
}
.container .text.first-text{
  color: #FFF;
}
.text.sec-text:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1d1f20;
  border-left: 2px solid #0ea5e9;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate{
  40%, 60%{
    left: 100%;
  }
  100%{
    left: 0%;
  }
}