/* 일반 베경 */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(45deg, #ff0057, #2196f3);
}
h2
{
    position: relative;
    display: flex;
    gap: 20px;
    color: #fff;
    font-size: 8em;
    height: 100vh;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
h2 span
{
    position: relative;
    filter: blur(5px);
    padding: 0 5px;
    transition: 0.5s;
}
h2 span:hover
{
    filter: blur(0px);
    transition: 0s;
}
h2 span i
{
    position: absolute;
    inset: 0;
    background: transparent;
}


/* ------------------- 메뉴바 ----------------- */

@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

/*body 초기화*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Jeju Myeongjo', serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;  
}

h1 {
  margin: 2em 0 1.5em 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background: linear-gradient(90deg, #000000, #000000, #000000, #000000, #000000);
  opacity: 70%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-menu > li {
  float: left;
  position: relative;
}

#main-menu > li > a {
  font-size: 0.85rem;
  color: rgba(255,255,255,0.85);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 14px 36px;
  border-right: 1px solid rgba(0,0,0,0.15);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  font-size: 3ch;
  font-weight: 500;
}

#main-menu > li:nth-child(1) > a {
  border-left: 3px solid rgba(0,0,0,0.15);
}

#sub-menu {
  position: absolute;
  background: #000000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}

#sub-menu > li {
  padding: 16px 28px;
  border-bottom: 2px solid rgba(0,0,0,0.15);
}

#sub-menu > li >  a {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
}

#main-menu > li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}

#sub-menu > li >  a:hover {
 text-decoration: underline;
}